<div class="jumbotron py-2">
  <h1 class="text-center text-info">Marcas automotivas <i class="fas fa-car"></i></h1>
</div>

<app-marcas-form></app-marcas-form>
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-info text-center">Lista</h2>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Ano Fundação</th>
            <th>Fundação</th>
            <th>Sede</th>
            <th>Site</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of marcas">
            <td>{{ item.nome }}</td>
            <td>{{ item.ano_fundacao }}</td>
            <td>{{ item.fundador }}</td>
            <td>{{ item.sede }}</td>
            <td>{{ item.site }}</td>
            <td>
              <a href=""><i class="fas fa-edit"></i></a>
              <a href=""><i class="fas fa-trash-alt text-danger ml-2"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
