<div class="jumbotron py-2">
  <h1 class="text-center text-info">Marcas automotivas <i class="fas fa-car"></i></h1>
</div>

<app-marcas-form></app-marcas-form>
  <div class="row" *ngIf="this.service.list.length">
    <div class="col-md-12">
      <h2 class="text-info text-center">Lista</h2>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Ano Fundação</th>
            <th>Fundação</th>
            <th>Sede</th>
            <th>Site</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let marca of service.list">
            <td>{{ marca.nome }}</td>
            <td>{{ marca.ano_fundacao }}</td>
            <td>{{ marca.fundadores }}</td>
            <td>{{ marca.sede }}</td>
            <td>{{ marca.site }}</td>
            <td>
              <i (click)="edit(marca)" class="fas fa-edit text-primary"></i>
              <i (click)="remove(marca)" class="fas fa-trash-alt text-danger ml-2"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
